/* FONT STACK */
body,
input, select, textarea {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    background-color: #ddd;
    background-image: -moz-linear-gradient(center top, #aaa, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
    background-image: linear-gradient(top, #aaa, #ddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaa', EndColorStr = '#ddd');
    background-repeat: no-repeat;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html.no-cssgradients {
    background-color: #aaa;
}

#griffonLogo {
    background-color: #ffffff;
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
    margin: 0.6em 1.25em 0 1.25em;
    padding: 0.3em 1.8em 1.25em;
    position: relative;
    zoom: 1;
    border: none;
}

.property-list .fieldcontain {
    list-style: none;
    overflow: hidden;
    zoom: 1;
}

.fieldcontain {
    margin-top: 1em;
}

.fieldcontain label,
.fieldcontain .property-label {
    color: #666666;
    text-align: right;
    width: 25%;
}

.fieldcontain .property-label {
    float: left;
}

.fieldcontain .property-value {
    display: block;
    margin-left: 27%;
}

label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
}

select {
    padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
    vertical-align: top;
}

textarea {
    /*width: 250px;
    height: 150px;*/
    overflow: auto;
    vertical-align: top;
}

input[type=checkbox], input[type=radio] {
    background-color: transparent;
    border: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    outline: 0;
    -moz-box-shadow: 0 0 0.5em #ffffff;
    -webkit-box-shadow: 0 0 0.5em #ffffff;
    box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
    color: #cc0000;
    display: inline-block;
    font-weight: bold;
    margin-left: 0.3em;
    position: relative;
    top: 0.1em;
}

ul.one-to-many {
    display: inline-block;
    list-style-position: inside;
    vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
    display: inline;
    zoom: 1;
}

ul.one-to-many li.add {
    list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
    background-color: transparent;
    border: 1px solid #CCCCCC;
    padding-left: 0;
    padding-right: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

fieldset.embedded legend {
    margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
    font-size: 0.8em;
    line-height: 2;
    margin: 1em 2em;
    padding: 0.5em;
}

.message {
    background: #f3f3ff;
    border: 1px solid #b2d1ff;
    color: #006dba;
    -moz-box-shadow: 0 0 0.25em #b2d1ff;
    -webkit-box-shadow: 0 0 0.25em #b2d1ff;
    box-shadow: 0 0 0.25em #b2d1ff;
}

.errors {
    background: #fff3f3;
    border: 1px solid #ffaaaa;
    color: #cc0000;
    -moz-box-shadow: 0 0 0.25em #ff8888;
    -webkit-box-shadow: 0 0 0.25em #ff8888;
    box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
    padding: 0;
}

.errors li {
    list-style: none;
    background: transparent url(../images/skin/exclamation.png) 0 50% no-repeat;
    text-indent: 22px;
}

.message {
    background: transparent url(../images/skin/information.png) 0 50% no-repeat;
    text-indent: 22px;
}

/* form fields with errors */

.error input, .error select, .error textarea {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
    background: #fff3f3;
    border-color: #ffaaaa;
    color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
    -moz-box-shadow: 0 0 0.5em #ffaaaa;
    -webkit-box-shadow: 0 0 0.5em #ffaaaa;
    box-shadow: 0 0 0.5em #ffaaaa;
}

/* ACTION BUTTONS */

.buttons {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons input,
.buttons a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save, .buttons .approve, .buttons .reject {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.buttons .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
    background-image: url(../images/skin/database_save.png);
}

.buttons .approve {
    background-image: url(../images/skin/approve.png);
}

.buttons .reject {
    background-image: url(../images/skin/reject.png);
}

a.skip {
    position: absolute;
    left: -9999px;
}

.artifact {
    /*width: 620px;*/
    background: #FFFFFF;
    color: #333333;
    margin: 0px auto;
    overflow-x: hidden;
    -moz-box-shadow: 0 0 0.3em #7b2517;
    -webkit-box-shadow: 0 0 0.3em #7b2517;
    box-shadow: 0 0 0.3em #7b2517;
    padding-top: 50px;
}

.artifact .artifact-header {
    margin: -60px 0px 0px 0px;
    position: relative;;
}

.artifact .artifact-header a {
    border: none;
    text-decoration: none;
    background: transparent;
    color: #006dba;
}

.artifact .artifact-header .artifact-detail {
    padding-left: 30px;
    font-size: 0.8em;
}

.artifact .artifact-detail .artifact-label {
    color: #767676;
    text-transform: uppercase;
}

.artifact .artifact-header h4 {
    position: relative;
    top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.artifact .artifact-header small {
    margin-left: 10px;
    font-size: 0.8em;
}

.artifact .artifact-more-info {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.artifact ul.artifact-links {
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 0em;
    font-size: 0.9em;
    margin: 0;
    width: 100%;
}

.artifact ul.artifact-links li {
    float: left;
    margin-right: 1.0em;
}

.artifact .artifact-links a {
    color: black;
    border: inherit;
    text-decoration: none;
}

.artifact .artifact-links img {
    vertical-align: middle;
}

.artifact .artifact-ratings {
    position: relative;
    float: right;
    top: -30px;
    bottom: 0px;
    left: -20px;
    right: 0px;
    margin: -10px;
}

.artifact-show .artifact-ratings {
    position: relative;
    float: left;
    left: 10px;
}

.categories {
    width: 180px;
    background: #FFFFFF;
    color: #333333;
    margin: 0px auto;
    overflow-x: hidden;
    -moz-box-shadow: 0 0 0.3em #7b2517;
    -webkit-box-shadow: 0 0 0.3em #7b2517;
    box-shadow: 0 0 0.3em #7b2517;
    padding-top: 0px;
}

.categories ul.categories-links {
    list-style-type: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 2.5em;
    margin: 0;
    width: 100%;
}

.categories a {
    color: black;
    border: inherit;
    text-decoration: none;
}

.label a, .label a:hover {
    text-decoration: none;
    color: #fff;
}

.platforms ul {
    list-style-type: none;
    padding-left: 0em;
    padding-top: 0px;
    padding-bottom: 1em;
    width: 100%;
}

.platforms ul li {
    float: left;
    margin-left: 0.5em;
}

.tags .tagCloud {
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 0em;
    margin: 0;
    width: 100%;
}

.tags .tagCloud li {
    float: left;
    margin-right: 1.0em;
}

.tags .tagCloud a {
    color: black;
    border: inherit;
    text-decoration: none;
}

.comment-container {
    background: #FFFFFF;
    color: #333333;
    margin: 0px auto;
    overflow-x: hidden;
    -moz-box-shadow: 0 0 0.3em #0000ff;
    -webkit-box-shadow: 0 0 0.3em #0000ff;
    box-shadow: 0 0 0.3em #0000ff;
}

.comment-header {
    background: #f5f5f5;
}